{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "import/extensions": ["error", "always", {"ignorePackages": true}],
        "react/prop-types": "off",
        "object-curly-newline": ["error", "never"],
        "max-len": ["error", {"code": 80}],
    }
}
